aside {
    background-color: rgb(232,243,248);
    padding: 10px;
    padding-left: 42.5px;
    position: relative;
    margin-bottom: 16px;
    border-radius: 10px;
}
aside img {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: absolute;
    left: 10px;
    top: 15px;
    width: 25px!important;
    height: 25px!important;
    background-color: rgba(255,255,255,0);
}

figcaption {
    display: none;
}
